{% extends 'adopskuy/base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'donasi/donasi.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-5" >{{ donasi.judul }}</h1>
  <div class="card my-3">
    <div class="card-body text-center">
      <p>Transfer ke nomor rekening berikut: ({{ bank }})</p>
      <h2>1234 1234 1234 1234</h2>
      <p>Jumlah yang ditransfer</p>
      <h3>Rp. {{ nominal }}</h3>
    </div>
  </div>
  <form action="{% url 'donasi:kirim' donasi.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="nominal" value="{{ nominal }}">
    <button type="submit" class="btn btn-primary my-3" href="{% url 'donasi:home' %}" style="width: 100%">SELESAI TRANSFER</button>
  </form>
  <div class="card my-3">
    <div class="card-body">
      <h2>Cerita</h2>
      <p>{{ donasi.deskripsi }}</p>
    </div>
  </div>
  {% with donasi.pemilik as pemilik %}
  <div class="card my-3">
    <div class="card-body">
      <h3 class="card-title">Data Pemilik</h3>
      <table>
        <tr>
          <td>Nama</td>
          <td>: {{ pemilik.nama_lengkap }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>: {{ pemilik.email }}</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>: {{ pemilik.alamat }}</td>
        </tr>
        <tr>
          <td>Nomor Telepon</td>
          <td>: {{ pemilik.phone_number }}</td>
        </tr>
      </table>
    </div>
  </div>
  {% endwith %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'donasi/donate.js' %}"></script>
{% endblock %}
