{% extends 'adopskuy/base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'donasi/donasi.css' %}" rel="stylesheet">
<style>
div.image {
  margin: 40px 0 20px;
  height: 300px;
  background-color: #294e28;
  background-image: url({{ donasi.get_image_data }});
  background-size: cover;
  background-position: center;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="image"></div>
  <h1>{{ donasi.judul }}</h1>
  <div class="card my-3">
    <div class="card-body">
      <p>Target: {{ donasi.target }}</p>
      <p>Dana Terkumpul: {{ donasi.dana_terkumpul }}</p>
    </div>
  </div>
  <button class="btn btn-success" onclick="btnDonate()" style="width: 100%">KIRIM DONASI</button>
  <div class="card my-3">
    <div class="card-body">
      <h2 class="card-title">Cerita</h2>
      <p>{{ donasi.deskripsi }}</p>
    </div>
  </div>
  {% with donasi.pemilik as pemilik %}
  <div class="card my-3">
    <div class="card-body">
      <h3 class="card-title">Data Pemilik</h3>
      <table>
        <tr>
          <td>Nama</td>
          <td>: {{ pemilik.nama_lengkap }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>: {{ pemilik.email }}</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>: {{ pemilik.alamat }}</td>
        </tr>
        <tr>
          <td>Nomor Telepon</td>
          <td>: {{ pemilik.phone_number }}</td>
        </tr>
      </table>
    </div>
  </div>
  {% endwith %}
  {% if request.user == donasi.pemilik %}
  <div class="card my-3">
    <div class="card-body">
      <h5 class="card-title">Pengaturan (untuk pemilik)</h5>
      <form action="{% url 'donasi:ubah-gambar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Ubah gambar:
        <input type="hidden" name="donasi_id" value="{{ donasi.id }}">
        <input type="file" name="gambar">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="grey-screen" onclick="closePopup()"></div>
  <div class="card card-centered">
    <form id="form-popup" method="POST" action="{% url 'donasi:bayar' %}">
      {% csrf_token %}
      <input type="hidden" name="donasi_id" value="{{ donasi.id }}">
      <div class="card-body choose-nominal">
        <h3>Nominal</h3>
        <label for="10000">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="10000" name="nominal" value="10000">
              Rp 10.000
            </div>
          </div>
        </label>
        <label for="20000">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="20000" name="nominal" value="20000">
              Rp 20.000
            </div>
          </div>
        </label>
        <label for="50000">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="50000" name="nominal" value="50000">
              Rp 50.000
            </div>
          </div>
        </label>
        <label for="100000">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="100000" name="nominal" value="100000">
              Rp 100.000
            </div>
          </div>
        </label>
      </div>
      <div class="card-body choose-bayar" style="display: none">
        <h3>Bank Tujuan</h3>
        <label for="bni">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="bni" name="bayar" value="bni">
              BNI
            </div>
          </div>
        </label>
        <label for="bca">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="bca" name="bayar" value="bca">
              BCA
            </div>
          </div>
        </label>
        <label for="mandiri">
          <div class="card">
            <div class="card-body">
              <input type="radio" id="mandiri" name="bayar" value="mandiri">
              Mandiri
            </div>
          </div>
        </label>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'donasi/donate.js' %}"></script>
{% endblock %}
