{% extends 'adopskuy/base.html' %}
{% load static %}

{% block style %}
<style>
.card {
  margin: 10px 0;
  position: relative;
}
.judul {
  font-size: 18px;
  font-weight: bold;
}
.pemilik {
  font-size: 14px;
}
.card .image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: #294E28;
  background-size: cover;
  background-position: center;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Donasi</h1>
  <div>
    {% if all_donasi|length != 0 %}
    {% for donasi in all_donasi %}
    <a href="{% url 'donasi:detail' donasi.id %}" style="color: black">
      <div class="card">
        <div class="card-body">
          <p class="judul">{{ donasi.judul }}</p>
          <p class="pemilik">{{ donasi.pemilik }}</p>
          <p class="terkumpul">Terkumpul: Rp. {{ donasi.dana_terkumpul }}</p>
          <div class="image" style="background-image: url({{ donasi.get_image_data }});"></div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    Donasi masih kosong...
    {% endif %}
  </div>
</div>
{% endblock %}
