.nav-link{
    color: #ffffff!important;
    font-size: 13pt;
}

.bg-green{
    background-color: #294E28!important;
}

.logo-style{
    font-family: 'Shojumaru', cursive;
    color: #ffffff!important;
}

.btn-primary{
    background-color: #1A7C18!important;
    border-color: #186416!important;
}

.text-container p{
    color: #ffffff;
    font-size: 16pt;
    font-family: 'sans-serif', 'Roboto';
}

h1{
    font-size: 40pt!important;
}

body{
    min-height: 100vh!important;
}