{% extends 'adopskuy/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'akun-style.css' %}">  
{% endblock style %}
{% block head %}
<title>Registrasi | Adopskuy!</title>
{% endblock %}

{% block content %}
  <div class="bg-green px-5 py-5 masuk-body">
    {% if messages %}
      <div class="span12">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="masuk-content pt-5 px-5 pb-3">
        <div id="text-container-1">
            <h4 class="daftar-title" style="color: #262626!important;">Masuk ke Aplikasi</h4>
            <p style="color: #262626!important;">Silakan masuk untuk mulai mengakses layanan kami</p>
            <hr>
        </div>
        <div class="form-container mt-4">
            <form method="POST" action="{% url 'akun:login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="emailForm" style="color: #262626!important;">Email address</label>
                  <input type="email" class="form-control" id="emailForm" name="emailForm" 
                  placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="passwordForm" style="color: #262626!important;">Password</label>
                  <input type="password" class="form-control" id="passwordForm" name="passwordForm" 
                  placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary px-5 py-2 mt-4" style="width: 100%!important;">Masuk</button>
              </form>
            </div>
            <div class="mt-4" style="display: flex; justify-content:center;align-items: center;">
              <p>Belum punya akun? <span><a href="/akun/daftar">Daftarkan dirimu di sini.</a></span></p>
          </div>
    </div>
</div>
{% endblock %}