{% extends 'adopskuy/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'akun-style.css' %}">  
{% endblock style %}
{% block head %}
<title>Registrasi | Adopskuy!</title>
{% endblock %}

{% block content %}
<div class="bg-green px-5 py-5">
    {% if messages %}
        <div class="span12">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="card-bg pt-5 px-5 pb-3">
        <div id="text-container-1">
            <h4 class="daftar-title">Registrasi Akun</h4>
            <p>Daftarkan dirimu untuk dapat mengakses layanan kami!</p>
            <hr>
        </div>
        <div class="form-container mt-4">
            <form method="POST" action="{% url 'akun:daftar' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="namaLengkap">Nama Lengkap</label>
                    <input type="text" class="form-control" id="namaLengkap" name="namaLengkap" 
                    placeholder="e.g. Cicak bin Kadal">
                </div>
                <div class="form-group">
                    <label for="alamat">Alamat</label>
                    <input type="text" class="form-control" id="alamat" name="alamat" 
                    placeholder="e.g. Pamulang, Jawa">
                </div>
                <div class="form-group">
                    <label for="noTelp">Nomor Telepon</label>
                    <input type="text" class="form-control" id="noTelp" name="noTelp" 
                    placeholder="e.g. 087777535244">
                </div>
                <div class="form-group">
                  <label for="emailVar">Email address</label>
                  <input type="email" class="form-control" id="emailVar" name="emailVar" 
                  aria-describedby="emailHelp" placeholder="e.g. someone@mail.com">
                  <small id="emailHelp" class="form-text text-muted">Email anda aman bersama kami. :)</small>
                </div>
                <div class="form-group">
                  <label for="passwordVar">Password</label>
                  <input type="password" class="form-control" id="passwordVar" name="passwordVar" 
                  placeholder="Password" aria-describedby="pswdHelp">
                  <small id="pswdHelp" class="form-text text-muted">Password harus mengandung Uppercase, Lowercase dan Numerik.</small>
                </div>
                <button type="submit" class="btn btn-primary px-5 py-2 mt-4">Buat Akun</button>
              </form>
        </div>
        <div class="mt-4">
            <p>Sudah punya akun? <span><a href="/akun/masuk">Masuk di sini.</a></span></p>
        </div>
    </div>
</div>
{% endblock %}