.page-num {
    border-radius:7px; 
    width:40px; 
    height:40px;
    color:#294E28;
    margin-left:10px;
    margin-right:10px;
    box-sizing:border-box;
    border: 1px solid #294E28;
}

.page-num:hover {
    color:white;
    background: #294E28;
}

.no-dec {
    text-decoration:none !important;
}
.current-page {
    background: #294E28 !important;
    color:white !important;
}

.artikel-writer {
    opacity:.75;
}

.artikel-date {
    opacity:.75;
}