#yourBtn {
    position: relative;
    width: auto;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: white;
    cursor: pointer;
    color:white;
    background-color:#294E28;
    border-color:#294E28;
}

#yourBtn:hover {
    color:#294E28;
    background-color:white;
}
