{% extends "adopskuy/base.html" %}
{% load static %} 

{% block style %}
        
{% endblock style %}

{% block content %}
<div class="bg-green p-5" style="min-height: 100vh!important;">
  <div class="text-container" style="width: 55%;">
    <h1 class="logo-style mt-4">Adopskuy!</h1>
    <p class="">Sebuah platform yang diciptakan oleh Kelompok RPL A3 untuk membantu kamu mencari dan 
      menemukan hewan piaraan yang cocok untuk menjadi sahabat sejatimu!</p>
    <a href="/akun/daftar" class="btn btn-primary px-5 py-2 mt-3">Mulai Mencari</a>
  </div>
</div>
{% endblock content %}


{% block script %}

{% endblock script %}