    <nav class="navbar navbar-expand-lg navbar-light bg-green px-5">
        <a class="navbar-brand logo-style" href="/">Adopskuy!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
              <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/adopsi">Adopsi</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/donasi">Donasi</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/artikel">Artikel</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-1">
              <a class="btn btn-primary" href="/akun/keluar">Keluar</a>
            </li>
            {% else %}
            <li class="nav-item mx-1">
                <a class="nav-link" style="font-weight: 700;" href="/akun/masuk">Masuk</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" style="font-weight: 700;" href="/akun/daftar">Daftar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
