{% extends "adopskuy/base.html" %}
{% load static %}
<body data-media-url="{% get_media_prefix %}">

{% block style %}
<link rel="stylesheet" href="{% static 'artikel/artikel-artikel.css' %}">
<link rel="stylesheet" href="{% static 'artikel/modal.css' %}">
<link rel="stylesheet" href="{% static 'artikel/tooltip.css' %}">
<link rel="stylesheet" href="{% static 'artikel/form.css' %}">
<link rel="stylesheet" href="{% static 'artikel/custom-button.css' %}">
<style>
    .jumbo {
        height:400px;
        width:100%;
        {% if 'static' in artikel_obj.gambar.url %}
        background: #294E28;
        color: white;
        {% else %}
        background: url("../..{{ artikel_obj.gambar.url }}");
        {% endif %}
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {

        color: black;
    }
</style>
{% endblock style %}

{% block content %}
<div>
    <div class="d-flex justify-content-center jumbo" style="flex-direction:column;">
        <div class="container">
            <h2><b>{{ artikel_obj.judul }}</b></h2>
        </div>
        <div class="container">
            oleh {{ artikel_obj.penulis.nama_lengkap }} | {{ artikel_obj.tanggal_publikasi }}
        </div>
    </div>
</div>

<div class="container main-body">
    <div class="d-flex justify-content-center">
        <div class="left-tab d-flex flex-column text-center">
            {% if artikel_obj.penulis.id == request.user.id %}
                <div class="m-1">
                    <span>Kelola Artikel ini</span>
                </div>
                <div class="m-1 d-flex justify-content-center">
                    <div class="m-1">
                        <button type="button" class="btn custom-button" id="myBtn">Edit</button>
                    </div>
                    <div class="m-1">
                        <button type="button" class="btn custom-button" onclick="deleteArticle()">Hapus</button>
                    </div>
                </div>
            {% endif %}
            <div class="m-1">
                <hr>           
            </div>
            <div class="m-1">
                <span>Bagikan Artikel</span>
            </div>
            <div class="m-1 tooltip text-center">
                <button onclick="myFunc()" onmoouseout="outFunc()" type="button" class="btn custom-button">
                    <span class="tooltiptext" id="myTooltip">Copy ke clipboard!</span>
                    Copy link!
                </button>
            </div>
            <div><hr></div>
            <div class="m-1">
                <span>Artikel Lainnya</span>            
            </div>
            {% for artikel in random_artikel %}
                <div class="m-1">
                    <a href="{% url 'artikel:artikel' artikel.id_artikel %}">
                        <span><b>{{ artikel.judul }}</b></span>
                    </a>
                    <span>oleh {{ artikel.penulis.nama_lengkap }}</span>
                </div>
                <div class="m-1"><hr></div>
            {% endfor %}
        </div>
        <div class="isi-artikel px-4" style="text-align:justify;">
            <div>
                <p>
                {{ artikel_obj.isi | linebreaks }}
                </p>
            </div>
        </div>
    </div>

    {% if request.user.is_admin %}
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="header-text">Edit Artikel</span>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <form id="data" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in artikel_form %}
                            {% if field.html_name != 'gambar' %}
                                <div class="form-group">
                                    <b>{{ field.label_tag }}</b> 
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div id="yourBtn" onclick="getFile()">Upload Gambar disini!</div>
                                    <div style='height: 0px;width: 0px; overflow:hidden;'>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn custom-button float-right" style="margin-bottom:50px;">Simpan</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <small>Copyright &copy; Adopskuy 2020</small>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'artikel/modal.js' %}"></script>
<script src="{% static 'artikel/tooltip.js' %}"></script>
<script>
    function deleteArticle() {
        Swal.fire({
            title: 'Apakah anda yakin?',
            text: "Artikel ini tidak akan dapat di-recover!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: "Tidak!",
            confirmButtonColor: '#294E28',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, hapus!',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                return fetch(`{% url 'artikel:hapus_artikel' artikel_obj.id_artikel %}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Gagal terhapus!`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'Terhapus!',
                    allowOutsideClick: false,
                    html: 'Artikel berhasil terhapus.<br>Kembali ke halaman Artikel dalam <b></b> milisekon.',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                            const b = content.querySelector('b')
                            if (b) {
                            b.textContent = Swal.getTimerLeft()
                            }
                        }
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }, 
                    didClose: () => {
                        window.location.replace("/artikel/");
                    }
                });
            }
        })
    }
</script>
<script>
$("form#data").submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    
    $.ajax({
        url: window.location.pathname,
        type: "POST",
        data: formData,
        success: function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Tersimpan!',
                allowOutsideClick: false,
                html: 'Artikel berhasil Tersimpan.<br>Halaman akan ter-refresh dalam <b></b> milisekon.',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                    const content = Swal.getContent()
                    if (content) {
                        const b = content.querySelector('b')
                        if (b) {
                        b.textContent = Swal.getTimerLeft()
                        }
                    }
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }, 
                didClose: () => {
                    window.location.replace("/artikel/view/{{ artikel_obj.id_artikel }}");
                }
            });                
        },
        error: function (e) {
            console.log(e);
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
</script>
{% endblock script %}
