{% extends "adopskuy/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'artikel/artikel-home.css' %}">
<link rel="stylesheet" href="{% static 'artikel/custom-button.css' %}">
<link rel="stylesheet" href="{% static 'artikel/modal.css' %}">
<link rel="stylesheet" href="{% static 'artikel/form.css' %}">
{% endblock style %}

{% block content %}
<div class="jumbotron" style="background-color: #294E28; border-radius:0; height:300px">
    <div class="container">
        <h1 style="text-align: center; color: white; line-height: 150px;"><b>Artikel</b></h1>
    </div>
</div>

{% if page_obj %}
    {% if request.user.is_admin %}
    <div class="d-flex justify-content-center">
        <div>
            <button type="button" class="btn custom-button" id="myBtn">Tambah Artikel</button>
        </div>
    </div>
    {% endif %}
    <div class="container my-3">
        {% for artikel in page_obj %}
        <div class="d-flex flex-column">
            <div class="my-3 py-3">
                <span>{{ artikel.penulis.nama_lengkap }} menulis</span>
                <h3><a href="{% url 'artikel:artikel' artikel.id_artikel %}" style="color:inherit;"><b>{{artikel.judul}}</b></a></h3>
                <p style="text-align: justify; margin-bottom: 0;">
                    <span class="artikel-date"><i>{{ artikel.tanggal_publikasi }} - </i></span>
                    {{ artikel.isi | truncatewords:50 }}
                </p>
                <a href="{% url 'artikel:artikel' artikel.id_artikel %}"><u>Baca...</u></a>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="pagination justify-content-center" style="margin-bottom:50px;">
        <span class="step-links d-flex align-items-center">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="no-dec">
                    <div class="d-flex justify-content-center align-items-center page-num">
                        <<
                    </div>
                </a>
                
                <a href="?page={{ page_obj.previous_page_number }}" class="no-dec">
                    <div class="d-flex justify-content-center align-items-center page-num">
                        <
                    </div>
                </a>
            {% endif %}

            <div>
                <span class="current">
                    Halaman {{ page_obj.number }} dari {{ page_obj.paginator.num_pages }}.
                </span>
            </div>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="no-dec">
                    <div class="d-flex justify-content-center align-items-center page-num">
                        >
                    </div>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="no-dec">
                    <div class="d-flex justify-content-center align-items-center page-num">
                        >>
                    </div>
                </a>
            {% endif %}
        </span>
    </div>
{% else %}
    {% if request.user.is_admin %}
    <div class="text-center m-3">
        <span style="font-size:20pt;">Belom ada yang berani nulis Artikel nih. Yuk tulis artikelmu!</span>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <button type="button" class="btn custom-button" id="myBtn">Tambah Artikel</button>
        </div>
    </div>
    {% else %}
    <div class="text-center m-3">
        <span style="font-size:20pt;">Mohon maaf, tidak terdapat Artikel yang tersedia.</span>
    </div>
    {% endif %}
{% endif %}

{% if request.user.is_admin %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="header-text">Buat Artikel</span>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <form id="data" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in artikel_form %}
                        {% if field.html_name != 'gambar' %}
                            <div class="form-group">
                                <b>{{ field.label_tag }}</b> 
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                <div id="yourBtn" onclick="getFile()">Upload Gambar disini!</div>
                                <div style='height: 0px;width: 0px; overflow:hidden;'>
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn custom-button float-right" style="margin-bottom:50px;">Simpan</button>
                </form>
            </div>
            <div class="modal-footer">
                <small>Copyright &copy; Adopskuy 2020</small>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block script %}
<script src="{% static 'artikel/modal.js' %} "></script>
<script>
$("form#data").submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    
    $.ajax({
        url: window.location.pathname,
        type: "POST",
        data: formData,
        success: function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Tersimpan!',
                allowOutsideClick: false,
                html: 'Artikel berhasil Tersimpan.<br>Kembali ke halaman Artikel dalam <b></b> milisekon.',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                    const content = Swal.getContent()
                    if (content) {
                        const b = content.querySelector('b')
                        if (b) {
                        b.textContent = Swal.getTimerLeft()
                        }
                    }
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }, 
                didClose: () => {
                    window.location.replace("/artikel/");
                }
            });                
        },
        error: function (e) {
            console.log(e);
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
</script>
{% endblock script %}