{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shojumaru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'akun-style.css' %}">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-green px-5">
        <a class="navbar-brand logo-style" href="/">Adopskuy!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
              <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/adopsi">Adopsi</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/donasi">Donasi</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/artikel">Artikel</a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" href="/masuk">Masuk</a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" href="/daftar">Daftar</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
