{% extends "base.html" %}

{% block head %}

{% endblock%}

{% block content %}
<div class="jumbotron" style="background-color: #294E28; border-radius:0; height:300px">
    <div class="container">
        <h1 style="text-align: center; color: white; line-height: 150px;"><b>Edit/Tambah Adopsi</b></h1>
    </div>
</div>

<div class="container" style="padding-top:50px;">
    <form action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Judul</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fulan" value="Mengerti Hewan Peliharaanmu">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Deskripsi</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="validatedCustomFile">Gambar</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            </div>
        </div>
        <button type="submit" class="btn custom-button">Submit</button>
    </form>
</div>

{% endblock %}