{% extends "adopskuy/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'artikel/artikel-artikel.css' %}">
<link rel="stylesheet" href="{% static 'artikel/modal.css' %}">
<link rel="stylesheet" href="{% static 'artikel/tooltip.css' %}">
<link rel="stylesheet" href="{% static 'artikel/form.css' %}">
<link rel="stylesheet" href="{% static 'artikel/custom-button.css' %}">
{% endblock style%}

{% block content %}
<div class="jumbotron" style="background-color: #294E28; border-radius:0; height:100px">
    <div class="container">
        <h1 style="text-align: center; color: white; line-height: 50px;"><b>Adopsi</b></h1>
    </div>
</div>

<div>
    <div class="d-flex justify-content-center jumbo" style="flex-direction:column;">
        <div class="container">
            <h2><b>{{ adopsi_obj.judul }}</b></h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-flex p-2 bd-highlight">
        <div class="card" style="width: 20rem; background-color: gray;">
            
            <div class="card-body">
            {% if 'static' in adopsi_obj.gambar.url %}
            <img src="{% static 'adopsi/placeholder.png' %}" style="max-width: 100%;">
            {% else %}
            <img src=" ../..{{adopsi_obj.gambar.url}}" style="max-width: 100%;">
            {% endif %}   
            
            </div>
        </div>
        <div class="container">
            {{adopsi_obj.deskripsi}}
        </div>
    </div>
    <div class="container-sm">
        Nama pemilik: {{adopsi_obj.pemilik.nama_lengkap}}
        <br>
        Untuk informasi lebih lanjut silahkan hubungi pemilik: {{adopsi_obj.pemilik.phone_number}}
    </div>
    <br>
    {% if adopsi_obj.pemilik.id == request.user.id %}
        <div class="m-1 d-flex justify-content-center">
            <span>Kelola Artikel ini</span>
        </div>
        <div class="m-1 d-flex justify-content-center">
            <div class="m-1">
                <button type="button" class="btn custom-button" id="myBtn">Edit</button>
            </div>
            <div class="m-1">
                <button type="button" class="btn custom-button" onclick="deleteArticle()">Hapus</button>
            </div>
        </div>
    {% endif %}
    {% if request.user.is_admin %}
    <div class="m-1 d-flex justify-content-center">
        <div class="m-1">
            <button type="button" class="btn custom-button" onclick="deleteArticle()">Hapus</button>
        </div>
    </div>
    {% endif %}
    {% if adopsi_obj.pemilik.id == request.user.id %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="header-text">Edit Adopsi</span>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <form id="data" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in adopsi_form %}
                        {% if field.html_name != 'gambar' %}
                            <div class="form-group">
                                <b>{{ field.label_tag }}</b> 
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                <div id="yourBtn" onclick="getFile()">Upload Gambar disini!</div>
                                <div style='height: 0px;width: 0px; overflow:hidden;'>
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn custom-button float-right" style="margin-bottom:50px;">Simpan</button>
                </form>
            </div>
            <div class="modal-footer">
                <small>Copyright &copy; Adopskuy 2020</small>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'artikel/modal.js' %}"></script>
<script src="{% static 'artikel/tooltip.js' %}"></script>
<script>
    function deleteArticle() {
        Swal.fire({
            title: 'Apakah anda yakin?',
            text: "Postingan adopsi ini tidak akan dapat di-recover!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: "Tidak!",
            confirmButtonColor: '#294E28',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, hapus!',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                return fetch(`{% url 'adopsi:hapus_adopsi' adopsi_obj.id_adopsi %}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Gagal terhapus!`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'Terhapus!',
                    allowOutsideClick: false,
                    html: 'Postingan adopsi berhasil terhapus.<br>Kembali ke halaman Artikel dalam <b></b> milisekon.',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                            const b = content.querySelector('b')
                            if (b) {
                            b.textContent = Swal.getTimerLeft()
                            }
                        }
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }, 
                    didClose: () => {
                        window.location.replace("/adopsi/");
                    }
                });
            }
        })
    }
</script>
<script>
$("form#data").submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    
    $.ajax({
        url: window.location.pathname,
        type: "POST",
        data: formData,
        success: function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Tersimpan!',
                allowOutsideClick: false,
                html: 'Postingan adopsi berhasil Tersimpan.<br>Halaman akan ter-refresh dalam <b></b> milisekon.',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                    const content = Swal.getContent()
                    if (content) {
                        const b = content.querySelector('b')
                        if (b) {
                        b.textContent = Swal.getTimerLeft()
                        }
                    }
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }, 
                didClose: () => {
                    window.location.replace("/adopsi/view/{{ adopsi_obj.id_adopsi }}");
                }
            });                
        },
        error: function (e) {
            console.log(e);
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
</script>
{% endblock script %}