{% extends "adopskuy/base.html" %}
{% load static %}
{% block head %}
<title> Adopsi | Main</title>
{% endblock%}

{% block style %}
<link rel="stylesheet" href="{% static 'artikel/artikel-home.css' %}">
<link rel="stylesheet" href="{% static 'artikel/custom-button.css' %}">
<link rel="stylesheet" href="{% static 'artikel/modal.css' %}">
<link rel="stylesheet" href="{% static 'artikel/form.css' %}">
{% endblock style %}

{% block content %}
<div class="jumbotron" style="background-color: #294E28; border-radius:0; height:300px">
  <div class="container">
      <h1 style="text-align: center; color: white; line-height: 150px;"><b>Adopsi</b></h1>
  </div>
</div>
{% if page_obj%}
  <div class="container-fulid" >
    {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-center">
      <div>
          <button type="button" class="btn custom-button" id="myBtn">Tambah Adopsi</button>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <div>
          <button type="button" class="btn custom-button" id="myPost" value="{{request.user.nama_lengkap}}">Postingan saya</button>
      </div>
      </div>
    <br>
    {% endif %}
    <div class="d-flex justify-content-center">
       <div>
        <input class="form-control" id="myInput" type="text" style="border-color: green;" placeholder="Search" aria-label="Search">
      </div>
    </div>
    
      <br>
    <div class="container justify-content-center" style="height: 100%;">
        <ul class="container" id="myList" style="list-style-type: none; padding: 0;  margin: 0;">
      {% for adopsi in adopsi_list %}
      <li style="margin-left: 2%; float:left; margin-top: 2%; width: 20rem; height: 25rem;" >
      <div class="card" style="width: 18rem; min-height: 23rem; border-width: 2px;">
            {% if 'static' in adopsi.gambar.url %}
            <img src="{% static 'adopsi/placeholder.png' %}" style="max-width: 100%;">
            {% else %}
            <img src= "../adopsi{{adopsi.gambar.url}}" style="max-width: 100%;">
            {% endif %}  
        <div class="card-body" style="height:7rem;">
          <h5 class="card-title">{{adopsi.judul}}</h5>
        <p class="card-text">Pemilik: {{adopsi.pemilik.nama_lengkap}}</p> 
        <a href="view/{{adopsi.id_adopsi}}/"  class="btn btn-primary">Read More</a>    
         </div>
        
      </div>
     </li>
     
      {% endfor %}
    </ul>
    </div>
  </div>

 

{% else %}
  {% if request.user.is_authenticated %}
    <div class="text-center m-3">
      <span style="font-size:20pt;">Belom ada yang membuat postingan adopsi</span>
  </div>
  <div class="d-flex justify-content-center">
      <div>
          <button type="button" class="btn custom-button" id="myBtn">Tambah Adopsi</button>
      </div>
      <br>
      
</div>
  {% else %}
  <div class="text-center m-3">
    <span style="font-size:20pt;">Mohon maaf, tidak terdapat postingan adopsi yang tersedia.</span>
</div>
  {% endif %}
{% endif %}

{% if request.user.is_authenticated %}
<div id="myModal" class="modal">
  <div class="modal-content">
      <div class="modal-header">
          <span id="header-text">Buat Adopsi</span>
          <span class="close">&times;</span>
      </div>
      <div class="modal-body">
          <form id="data" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in adopsi_form %}
                  {% if field.html_name != 'gambar' %}
                      <div class="form-group">
                          <b>{{ field.label_tag }}</b> 
                          {{ field }}
                      </div>
                  {% else %}
                      <div class="form-group">
                          <div id="yourBtn" onclick="getFile()">Upload Gambar disini!</div>
                          <div style='height: 0px;width: 0px; overflow:hidden;'>
                              {{ field }}
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}
              <button type="submit" class="btn custom-button float-right" style="margin-bottom:50px;">Simpan</button>
          </form>
      </div>
      <div class="modal-footer">
          <small>Copyright &copy; Adopskuy 2020</small>
      </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{% block script %}
<script src="{% static 'adopsi/modal.js' %} "></script>
<script>
  $("form#data").submit(function(e) {
      e.preventDefault();
      var formData = new FormData(this);
      
      $.ajax({
          url: window.location.pathname,
          type: "POST",
          data: formData,
          success: function (data) {
              Swal.fire({
                  icon: 'success',
                  title: 'Tersimpan!',
                  allowOutsideClick: false,
                  html: 'Adopsi berhasil Tersimpan.<br>Kembali ke halaman Artikel dalam <b></b> milisekon.',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                      const content = Swal.getContent()
                      if (content) {
                          const b = content.querySelector('b')
                          if (b) {
                          b.textContent = Swal.getTimerLeft()
                          }
                      }
                      }, 100)
                  },
                  willClose: () => {
                      clearInterval(timerInterval)
                  }, 
                  didClose: () => {
                      window.location.replace("/adopsi/");
                  }
              });                
          },
          error: function (e) {
              console.log(e);
          },
          cache: false,
          contentType: false,
          processData: false
      });
  });

  $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    
    $("#myPost").on("click", function(event) {
        var value = $(this).val().toLowerCase();
        console.log(value)
        $("#myList li").filter(function() {
            console.log($(this).children("div.card").children("div.card-body").children("p.card-text").text())
            $(this).toggle($(this).children("div.card").children("div.card-body").children("p.card-text").text().toLowerCase().indexOf(value) > -1)
            });
        });
    
    });


  </script>
{% endblock script %}