{% extends "base.html" %}
{% load static %}
{% block head %}
<title> Adopsi | Manage</title>
{% endblock%}

{% block content %}
<div class="jumbotron" style="background-color: #294E28; border-radius:0; height:300px">
    <div class="container">
        <h1 style="text-align: center; color: white; line-height: 150px;"><b>Manage Adopsi</b></h1>
    </div>
</div>
  <div class="container-fulid" style="flex: auto">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'adopsi/placeholder.png' %} " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nama Hewan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="full_desc" class="btn btn-primary">Read More</a>
          <a href="tambah" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Hapus</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'adopsi/placeholder.png' %} " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nama Hewan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="full_desc" class="btn btn-primary">Read More</a>
          <a href="tambah" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Hapus</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'adopsi/placeholder.png' %}  " class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nama Hewan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="full_desc" class="btn btn-primary">Read More</a>
          <a href="tambah" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Hapus</a>
        </div>
      </div>

      <a href="tambah" class="btn btn-primary">Tambah Adopsi</a>


  </div>
{% endblock %}