body{
    font-family: 'Roboto', sans-serif!important;   
}

.masuk-content{
    background-color: #ffffff!important;
    border-radius: 10px;
    width: 40%;
}

.masuk-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 91.4vh;
}

.bg-green{
    background-color: #294E28!important;
}

.card-bg{
    background-color:#ffffff!important;
    border-radius: 10px;
}

.card-bg h4, .card-bg p, .card-bg label{
    color:#262626!important;
}

.daftar-title{
    color: #ffffff!important;
    font-weight: bold;
}

.btn-primary{
    background-color: #1A7C18!important;
    border-color: #186416!important;
}   
