.grey-screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
}

.card-centered {
  display: none;
  position: fixed;
  width: 600px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

form label {
  width: 100%;
}
